/* GLOBAL STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* BODY STYLES */
body {
  color: #fafaf9;
  background-color: #292524;
  font-family: "sono", sans-serif;
  padding: 40px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  text-align: center;
  padding: 16px 40px;

}

h1 {
  font-family: "coiny", sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.tag {
  font-family: "coiny", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
}
